@import url('https://fonts.googleapis.com/css?family=Kanit:200,300,400&display=swap');

body {
    background-image: url('../img/stars-1080.jpg');
    font-family: 'Kanit';
    font-weight: 200;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

/* .a {
    height: 3%;
    position: absolute;
    left: 43%;
    top: 40%;
}

.b {
    height: 3%;
    position: absolute;
    left: 45%;
    top: 60%;
}

.c {
    height: 3%;
    position: absolute;
    left: 60%;
    top: 67%;
} */

/* .img-fluid {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
} */

.planet-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.files {
    position: absolute;
    bottom: 0;
    left: 4vw;
    background: lightgoldenrodyellow;
    width: 20vw;
    height: 9vw;
    transition: height 0.2s ease-out;
}

.files:hover {
    cursor: pointer;
    height: 12vw;
    transition: height 0.2s ease-in;
}

div.back {
    color: white;
    position: absolute;
    top: 0;
    left: 4vw;
    padding-top: 3em;
}

div.back>h2 {
    cursor: pointer;
    font-weight: 200;
}

.triangle {
    transition: .2s;
}

div.back:hover .triangle {
    margin-left: -15%;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.wrapper>h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

div.info {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3em;
    color: white;
}

[id^=heading] {
    display: block;
}

#heading-th {
    font-size: 65px;
    font-weight: 400;
    line-height: 65px;
}

#heading-en {
    font-size: 32px;
    font-weight: 200;
    line-height: 32px;
}

/* @media screen and (max-width: 1440px) {
    .planet-img {
        height: 60%;
    }
}

@media screen and (max-width: 768px) {
    .planet-img {
        height: 50%;
    }
}

@media screen and (max-width: 425px) {
    .planet-img {
        height: 40%;
    }
} */