.a {
    height: 3%;
    position: absolute;
    left: 43%;
    top: 40%;
}

.b {
    height: 3%;
    position: absolute;
    left: 45%;
    top: 60%;
}

.c {
    height: 3%;
    position: absolute;
    left: 60%;
    top: 67%;
}

.img-fluid {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;

}

.container-fluid {
    background-image: url('../img/stars-1080.jpg');
}

div {
    color: whitesmoke;
}